{% extends 'events/base.html' %}
{% load static %}
{% block title %} Guest Detail {% endblock %}
{% block content %}
<div class="mb-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <b>Guest Details</b>
                </div>
                <div class="card-body">
                    <p class="card-text">Name: {{ object.name }}</p>
                    <p class="card-text">With Family: {{ object.with_family }}</p>
                    <a class="btn btn-primary" href="{% url 'update_guest' pk=object.pk %}" role="button">Edit Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}