{% extends 'events/base.html' %}
{% load static %}
{% block title %} Guest List {% endblock %}
{% block content %}
<div class="mb-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="input-group mb-3">
                <form action="{% url 'search_guest' %}" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Guest's Name"
                               aria-label="Guest's Name" aria-describedby="basic-addon2" name="guest_name" required/>
                        <button type="submit" class="btn btn-primary me-3">Search</button>
                    </div>
                </form>
            </div>
            <div class="pt-1 pb-2">
                    <a class="btn btn-primary" href="{% url 'add_guest' %}" role="button">Add Guest</a>

                    <button type="button" class="btn btn-secondary">
                        Total Guests: <span class="badge bg-dark">{{ total_guests }}</span>
                    </button>
                </div>
            <div class="card">
                <div class="card-header">
                    <b>Guest Details</b>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">S. No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">With Family</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Preview/Share</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td scope="col"><a href="{% url 'guest_detail' pk=object.pk %}">{{ object.name }} (+{{ object.members }})</a></td>
                        <td>
                            {% if object.with_family %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </td>
                        <td scope="col">
                            <a class="btn btn-primary" href="{% url 'guest_delete' pk=object.pk %}"
                               role="button">Remove</a>
                        </td>
                        <td scope="col">
                            <a class="btn btn-secondary" href="{% url 'card' slug=object.slug %} "
                               role="button">Preview</a>
                            <div class="pt-2">
                                <button class="btn btn-secondary"
                                        onclick="shareGuest('{{ object.name }}', 'card/{{ object.slug }}')">Share
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function shareGuest(name, url) {
        if (navigator.share) {
            navigator.share({
                text: `श्री ${name}, कृपया यहां क्लिक करे।`,
                url: url
            }).then(() => {
                console.log('Guest details shared successfully.');
            }).catch((error) => {
                console.error('Error sharing guest details:', error);
            });
        } else {
            alert('Web Share API is not supported in your browser.');
        }
    }
</script>
{% endblock %}
